<div class="p-6">

    <div *ngIf="isLoading$ | async">
        <p>Cargando movimientos de Santander...</p>
    </div>


    <div class="container mx-auto p-4 max-w-5xl">
        <div class="collapse collapse-arrow bg-base-200 mb-4 border border-base-300 shadow-sm rounded-box">
            <input type="checkbox" />

            <div class="collapse-title text-xl font-medium flex flex-wrap justify-between items-center gap-4">

                <div class="flex items-center gap-3">
                    <span class="capitalize">{{ year }}</span>
                </div>
            </div>

            <div class="collapse-content bg-base-100">

                <div *ngFor="let monthData of associatedPaymentsByYear?.associatedSantanderPaymentByMonthDTOS"
                    class="collapse collapse-arrow bg-base-200 mb-4 border border-base-300 shadow-sm rounded-box">


                    <div class="collapse-title text-xl font-medium flex flex-wrap justify-between items-center gap-4">

                        <div class="flex items-center gap-3">
                            <span class="capitalize">Mes {{ monthData.month }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="flex flex-col items-center mt-10">
        <span class="text-3xl font-bold mb-6 text-base-content">Gestionar Categorías</span>
        <a routerLink="/categories" class="btn btn-secondary btn-lg">Ir a Categorías</a>
    </div>

</div>